@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
* {
  cursor: url('https://github.com/FlorianWenzel/acnh-css/raw/master/cursor/cursor.png'), auto!important;
}
.acnh-text{
  font-family: Nunito;
}
.acnh-btn, .acnh-label{
  color: white;
  background-color: rgb(29, 182, 175);
  padding: .5rem;
  line-height: 1rem;
  border: rgb(29, 182, 175) solid .3rem;;
  border-radius: 3rem;
  text-align: center;
  font-family: Nunito,Helvetica Rounded,Arial,sans-serif;
  font-size: 1rem;
  cursor: url(cursor/cursor.png), auto;
}
.acnh-btn:focus, .acnh-btn:hover, .acnh-btn-focus {
  outline: none;
  border: rgb(63, 223, 205) solid .3rem;
  background: repeating-linear-gradient(
    -45deg,
    rgb(29, 182, 175),
    rgb(29, 182, 175) 20px,
    rgb(21, 151, 139) 20px,
    rgb(21, 151, 139) 40px
  );
	background-size:56px 56px;
	background-position-x:0%;
	-webkit-animation:'slide' 200s infinite linear forwards;
}
.acnh-btn-no-focus:focus, .acnh-btn-no-focus:hover {
  outline: none;
  border: rgb(63, 223, 205) solid .3rem;
  -webkit-animation: none!important;
}
.acnh-label-pink{
  background: rgb(236,153, 158)!important;
  border: rgb(236,153, 158) solid .3rem!important;
  color: white!important;
  display: inline-block;
  align-items: center;
}
.acnh-label-menu{
  background: rgb(240, 250, 221)!important;
  border: rgb(240, 250, 221) solid .3rem!important;
  color: rgb(118, 104, 84)!important;
  display: inline-block;
  align-items: center;
}
.acnh-icon{
  padding: .1rem;
  margin-right: .1rem;
  height: 1rem;
  line-height: 1rem;
  width: 1rem;
  display: inline-block;
  font-size: 1rem;
  border-radius: 50%;
}
.acnh-btn>.acnh-icon{
  color: rgb(29, 182, 175);
  background-color: white;
}
.acnh-label-menu>.acnh-icon{
  background-color: rgb(118, 104, 84);
  color: rgb(240, 250, 221);
}
.acnh-label-pink>.acnh-icon{
  background-color: white;
  color: rgb(236,153, 158);
}
@-webkit-keyframes slide {
	0%{
		background-position-x: 0%;
	}
	100% {
		background-position-x: 10000%;
	}
}
